<mat-card class="content">
<div>
  <div >
    <br />
    <h1 class="textTitle text-center">Gráficos del Covid19</h1>
    <br />
    <br />
  </div>

  <mat-tab-group dynamicHeight>
    <mat-tab *ngIf="resultsByDepartment" label="Resultado por Departamentos ">
        <div style="display: block" >
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>

    </mat-tab>
    <mat-tab *ngIf="dataUp" label="Estados de Pacientes">
      <div >
        <div style="display: block">
          <canvas baseChart [data]="quantity" [labels]="nameState"
            [chartType]="doughnutChartType"></canvas>
        </div>

      </div>
    </mat-tab>
    <mat-tab  *ngIf="radarChartData.length"  label="Estados por Departamentos">
      <div>
        <div  style="display: block">
          <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [options]="radarChartOptions"
            [chartType]="radarChartType"></canvas>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Pacientos Por edades">
      <div >
        <div style="display: block">
          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
</mat-card>