
<!-- footer -->
<div class="content-footer d-none d-md-block">
    <p class="text-center center-me">
        <b class="bussiness-name">INVENTARIO </b>
        <span class="small">Todos los derechos reservados | Cualquier duda por favor escribir a: 
            <a href="mailto:freddy_villalba21132@elpoli.edu.co" class="green-color mail-contact-footer">freddy_villalba21132@elpoli.edu.co</a>
        </span>
        <b class="bussiness-name">&nbsp;&nbsp;- Versión:&nbsp;&nbsp;</b><span class="small">1.0</span>
    </p>
</div>
<!-- /footer -->