
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-ripple-multiple"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<mat-card id="mat-card" class="content-form">
    <br />
    <h1 class="textTitle text-center">{{nameCampus}} </h1>
    <h1 class="textTitle text-center ">______________________________</h1>
    <br />
    <br />
    <div *ngIf="edit || newArticle">
        <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre Room</mat-label>
                    <input maxlength="30" [disabled]="!newArticle" matInput maxlength="50" [(ngModel)]="room.name"
                        required>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Responsable</mat-label>
                    <mat-select>
                        <mat-option (click)="getUserSelect(user)" *ngFor="let user of users" [value]="user.userName">
                            {{user.userName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>


        </mat-grid-list>
        <div>
            <img [src]="url" height="200"> <br />
            <input type='file' (change)="onSelectFile($event)">
        </div>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Articulos</mat-label>
            <mat-select>
                <mat-option (click)="getArticleSelect(article)" *ngFor="let article of articles" [value]="article.id">
                    {{article.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button class="btn" [disabled]="!articleSelec" (click)="chargeRoom()" mat-raised-button color="primary">Agregar
            a Room</button>
        <br />

        <div class="mat-elevation-z8" *ngIf="dataSource">
            <table *ngIf="articles" mat-table [dataSource]="dataSource">

                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- serial Column -->
                <ng-container matColumnDef="serial">
                    <th mat-header-cell *matHeaderCellDef> serial </th>
                    <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
                </ng-container>
                <!-- state Column -->
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>State </th>
                    <td mat-cell *matCellDef="let element"> {{element.state.name}} </td>
                </ng-container>
                <ng-container matColumnDef="article">
                    <th mat-header-cell *matHeaderCellDef> article </th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="removeArticleRoom(element)" mat-raised-button color="primary">Eliminar
                            Articulo</button> </td>

                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
        <br />
        <button class="btn" [disabled]="isFormInvalid()" (click)="createRoom()" mat-raised-button
            color="primary">Guardar</button>
    </div>
    <div *ngIf="dataSourceRooms && !edit && !newArticle">
        <br />
        <h1 class="textTitle text-center">Rooms</h1>
        <br />
    </div>
    <div class="mat-elevation-z8" *ngIf="dataSourceRooms && !edit && !newArticle">
        <table *ngIf="rooms" mat-table [dataSource]="dataSourceRooms">

            <!-- name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td id="roomName" mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- responsible Column -->
            <ng-container matColumnDef="responsible">
                <th mat-header-cell *matHeaderCellDef> Responsible </th>
                <td mat-cell *matCellDef="let element"> {{element.user.userName}}</td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> edit </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="editRoom(element)" mat-raised-button color="primary">edit</button> </td>

            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsRoom"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsRoom;"></tr>
        </table>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>



    <button class="btn" *ngIf="!edit && !newArticle" (click)="new()" mat-raised-button color="primary">Nuevo</button>
    <button class="btn" mat-raised-button *ngIf="newArticle" (click)="cancel()" color="primary">Cancelar</button>

</mat-card>
