<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-scale-ripple-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<mat-card class="content-form">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Por favor ingresa los datos</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
       Información ímportante<br>
      Su usuario es su Email <br>
      Su Contraseña es su número de documento.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div>
        <mat-form-field class="email" appearance="fill">
          <mat-label>Email</mat-label>
          <input maxlength="30" matInput placeholder="algo@example.com" [(ngModel)]="user.email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      
      </div>
      <div>
        <mat-form-field class="email" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input maxlength="15"  matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>    
    </div>
  </mat-card-actions>
  <button (click)="login()" [disabled]="!user.password || !user.email" mat-raised-button color="primary">INGRESO</button>   
</mat-card>


