<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-ripple-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<form (ngSubmit)="login()" id="form-Docs" class="pt-3" [formGroup]="userForm" novalidate>
  <mat-card class="content-form">
    <div class="center">
      <br />
      <span style="font-size: 100px;color: cornflowerblue;" class="material-icons">
        account_circle
        </span>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <div>
          <mat-form-field class="email" appearance="fill">
            <mat-label>Email</mat-label>
            <input maxlength="30" matInput placeholder="correo@example.com" formControlName="email" required>
          </mat-form-field>

        </div>
        <div>
          <mat-form-field class="email" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input maxlength="15" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-card-actions>
      <button type="submit" [disabled]="userForm.invalid" mat-raised-button color="primary">INGRESO</button>
    </div>
  </mat-card>
</form>