<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-ripple-multiple"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<mat-card class="content-form">
    <br />
    <h1 class="textTitle text-center ">Sedes</h1>

    <br />
    <br />

    <br />

    <div *ngIf="new">
        <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre Sede</mat-label>
                    <input maxlength="30" matInput maxlength="50" [(ngModel)]="campus.name" required>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Dirección</mat-label>
                    <input maxlength="30" matInput maxlength="50" [(ngModel)]="campus.direction" required>
                </mat-form-field>
            </mat-grid-tile>



        </mat-grid-list>
        <div>
            <img [src]="url" height="200"> <br />
            <input type='file' (change)="onSelectFile($event)">
        </div>
        <br />
        <br />
        <button class="btn" (click)="createCampus()" [disabled]="isFormInvalid()" mat-raised-button
            color="primary">Guardar</button>
            <button class="btn" (click)="cancel()" mat-raised-button
            color="primary">Cancelar</button>
    </div>
    <div *ngIf="campuses">

        <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
            <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.name">
                <div>
                    <img (click)="getIn(tab)" routerLink="/rooms" [src]="tab.logo" height="200"> <br />

                </div>
               



            </mat-tab>
        </mat-tab-group>
    </div>
    <button class="btn" (click)='newCampus()' *ngIf="!new && isAdmin()" mat-raised-button color="primary">Nuevo</button>

</mat-card>