
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Tipo de documento</mat-label>
                <mat-select [(ngModel)]="patient.documentType.id">
                    <mat-option value="0">---Seleccione---</mat-option>
                    <mat-option value="1">Cédula</mat-option>
                    <mat-option value="2">Tarjeta de identidad</mat-option>
                    <mat-option value="3">Pasaporte</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Numero de documento</mat-label>
                <input matInput [(ngModel)]="patient.documentNumber" maxlength="15" required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Nombre completo</mat-label >
                <input matInput  [(ngModel)]="patient.fullName" maxlength="50" required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Dirección</mat-label >
                <input matInput  [(ngModel)]="patient.direction" maxlength="100" required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Departamento</mat-label>
            <mat-select [(ngModel)]="patient.town.department_id">
                <mat-option value="0">---Seleccione---</mat-option>
                <mat-option value="1">Antioquia</mat-option>
                <mat-option value="2">Córdoba</mat-option>
                <mat-option value="3">Caldas</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Municipios</mat-label>
            <mat-select [(ngModel)]="patient.town">
                <mat-option value="0">---Seleccione---</mat-option>
                <mat-option value="1">Medellín</mat-option>
                <mat-option value="2">Monteria</mat-option>
                <mat-option value="3">Manizales</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-list>
    {{patient | json}}