<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-scale-ripple-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="content-form">
    <br />
    <h1 class="textTitle">Registro de pacientes</h1>
    <br />
    <br />
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Tipo de documento</mat-label>
                <mat-select  [(ngModel)]="patient.documentType.id">
                    <mat-option value="0">---Seleccione---</mat-option>
                    <mat-option value="1">Cédula</mat-option>
                    <mat-option value="2">Tarjeta de identidad</mat-option>
                    <mat-option value="3">Pasaporte</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Numero de documento</mat-label>
                <input type="number" maxlength="15" matInput [(ngModel)]="patient.documentNumber" maxlength="15" required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Nombre completo</mat-label>
                <input maxlength="30" matInput [(ngModel)]="patient.fullName" maxlength="50" required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Dirección</mat-label>
                <input maxlength="30" matInput [(ngModel)]="patient.direction" required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Departamento</mat-label>
                <mat-select  [(ngModel)]="patient.department.id">
                    <mat-option (click)="importTownByDepartment(department.id)" *ngFor="let department of departments"
                        [value]="department.id">{{department.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Municipios</mat-label>
                <mat-select [(ngModel)]="patient.town.id">
                    <mat-option *ngFor="let town of towns" [value]="town.id">{{town.name}}</mat-option>
                 </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Ingrese su email</mat-label>
                <input maxlength="30" matInput placeholder="pat@example.com" [(ngModel)]="patient.email" [formControl]="email"
                    required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select disabled [(ngModel)]="patient.state.id">
                    <mat-option  value="4">Seguimiento</mat-option>
                </mat-select>
            </mat-form-field>

        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Celular</mat-label>
                <span matPrefix>+57 &nbsp;</span>
                <input type="number" maxlength="15"  matInput [(ngModel)]="patient.phone" placeholder="3213456789" required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Fecha Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="patient.birthDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>

        </mat-grid-tile>


    </mat-grid-list>

    <div class="container">

        <h1 class="textTitle">Sistema de Geolocalización</h1>
      
        <div class="form-group">
          <label>Ponga el marcador lo mas cerca de su lugar actual</label>
          <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
        </div>
      
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
            (dragEnd)="markerDragEnd($event)"></agm-marker>
        </agm-map>
      
        <h5>Address: {{address}}</h5>
        <div>Latitude: {{latitude}}</div>
        <div>Longitude: {{longitude}}</div>
      </div>

      <button  (click)='createPatient()'[disabled]="isFormInvalid()" mat-raised-button color="primary">Guardar</button>
</div>

