<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-scale-ripple-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<mat-card *ngIf="currenQuestion !== undefined">
   
    <mat-card-header *ngIf='currenQuestion.positiveAnswer !== 0'>
        <mat-card-title>Pregunta</mat-card-title>
        <mat-card-subtitle>Numero: # {{currenQuestion.id}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content *ngIf='currenQuestion.positiveAnswer !==0'>
        <p class="styleText">
            {{currenQuestion.content}}
        </p>
    </mat-card-content>
    <mat-card-actions *ngIf='currenQuestion.positiveAnswer !== 0'>
        <mat-radio-group [(ngModel)]="currenQuestion.response">
            <mat-radio-button value=1>Sí</mat-radio-button>
            <mat-radio-button value=0>No</mat-radio-button>
        </mat-radio-group>
        <button *ngIf='currenQuestion.positiveAnswer !== 0' (click)='getNexQuestion()' mat-raised-button color="primary">Siguiente Pregunta </button>

    </mat-card-actions>
    <button (click)='getResponses()' *ngIf='currenQuestion.positiveAnswer == 0' mat-raised-button color="primary">Resultado</button>    
    
</mat-card>
<div *ngIf= 'end' >
    <h1>Muchas gracias por completar el test</h1>
    <h2>Tu probabilidad es de:</h2>
    {{results}}<p>%</p>
    <button  (click)='goToRegistry()' mat-raised-button color="primary"> ¡'Registro gratis!</button>
</div>
