<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-ripple-multiple"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<mat-card class="content-form" *ngIf="currenQuestion !== undefined">

        <br />
        <h1 class="textTitle">Test Covid19</h1>
        <br />
        <br />

    <mat-card-header *ngIf='currenQuestion.positiveAnswer !== 0'>
        <mat-card-title class="textTitle" >Pregunta</mat-card-title>
        <mat-card-subtitle>Responda Sí ó No</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content *ngIf='currenQuestion.positiveAnswer !==0'>
        <p class="styleText">
            {{currenQuestion.content}}
        </p>
    </mat-card-content>
    <mat-card-actions *ngIf='currenQuestion.positiveAnswer !== 0'>
        <mat-radio-group [(ngModel)]="currenQuestion.response">
            <mat-radio-button value=1>Sí</mat-radio-button>
            <mat-radio-button value=0>No</mat-radio-button>
        </mat-radio-group>
        <button [disabled]="!currenQuestion.response" *ngIf='currenQuestion.positiveAnswer !== 0 '
            (click)='getNexQuestion()' mat-raised-button color="primary">Siguiente Pregunta </button>

    </mat-card-actions>
    <button (click)='sumResponses()' *ngIf='currenQuestion.positiveAnswer == 0 && !end' mat-raised-button
        color="primary">Resultado</button>
    <div *ngIf='end'>
        <h1>Muchas gracias por completar el test</h1>
        <h2>Tu probabilidad es de: {{results}}% </h2>

        <button (click)='goToRegistry()' mat-raised-button color="primary"> ¡'Registro gratis!</button>
    </div>
    <div>
        <mat-tab-group dynamicHeight>
            <mat-tab label="¿Qué es Covid19?">
              <div class="example-small-box mat-elevation-z4">
                Los coronavirus (CoV)son <br>
                virus que surgen<br>
                periódicamente en diferentes<br>
                áreas del mundo y que causan Infección <br>
                Respiratoria Aguda (IRA),es decir gripa,<br>
                que pueden llegar a ser leve, moderada o grave.
              </div>
            </mat-tab>
            <mat-tab label="A quien afecta y Síntomas">
              <div class="example-large-box mat-elevation-z4">
                Se conoce que cualquier persona puede infectarse,<br>
                independientemente de su edad, pero hasta el momento<br>
                se han registrado relativamente pocos casos de COVID-19 en niños.<br>
                La enfermedad es mortal en raras ocasiones, y hasta ahora<br>
                las víctimas mortales han sido personas de edad avanzada que<br>
                ya padecían una enfermedad crónica como diabetes, asma o hipertensión.<br>
                El nuevo Coronavirus causa una Infección Respiratoria Aguda (IRA),<br>
                es decir una gripa, que puede ser leve, moderada o severa.<br>
                Puede producir fiebre, tos, secreciones nasales (mocos) y malestar general.<br>
                Algunos pacientes pueden presentar dificultad para respirar.
              </div>
            </mat-tab>
            <mat-tab label="Resultado por Departamentos ">
                <div style="display: block">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType">
                  </canvas>
                </div>
        
            </mat-tab>
          </mat-tab-group>
    </div>
</mat-card>