<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-ripple-multiple"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<mat-card class="content-form">
    <br />
    <h1 class="textTitle ">Usuarios</h1>
    <h1 class="textTitle text-center ">______________________________</h1>
    <br />
    <br />
    <mat-grid-list *ngIf="new || edit" cols="2" rowHeight="80px">
        <mat-grid-tile *ngIf="edit">
            <mat-form-field appearance="fill">
                <mat-label>UserName</mat-label>
                <input maxlength="30" [disabled]="edit" matInput maxlength="50" [(ngModel)]="user.userName" required>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!edit">
            <mat-form-field class="email" appearance="fill">
                <mat-label>Email</mat-label>
                <input maxlength="30" matInput placeholder="algo@example.com" [(ngModel)]="user.userName"
                    [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="email" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input maxlength="15" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="email" appearance="fill">
                <mat-label>Confirmar Contraseña</mat-label>
                <input maxlength="15" matInput [type]="hide1 ? 'password' : 'text'" [(ngModel)]="newPassword">
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!edit">
            <mat-form-field appearance="fill">
                <mat-label>Rol</mat-label>
                <mat-select>
                    <mat-option (click)="getRole(role)" *ngFor="let role of roles" [value]="role.name">
                        {{role.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="!new && !edit">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table *ngIf="users" mat-table [dataSource]="dataSource">

                <!-- userName Column -->
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef>UserName </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="changePassword">
                    <th mat-header-cell *matHeaderCellDef> changePassword </th>
                    <td mat-cell *matCellDef="let element">
                        <button [disabled]="!isAdmin()" mat-raised-button color="primary"
                            (click)='editUser(element)'>Cambiar Contraseña</button> </td>

                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>

    </div>
    <button *ngIf="new" class="btn" [disabled]="isFormInvalid()" (click)="save()" mat-raised-button
        color="primary">Guardar</button>
    <button *ngIf="!new && !edit" class="btn" (click)="newUser()" mat-raised-button color="primary">Nuevo</button>
    <button *ngIf="changePassword" (click)="updatePassword()"  class="btn" [disabled]="isFormPasswordInvalid()" mat-raised-button color="primary">Cambiar</button>
    <button *ngIf="new || edit" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
</mat-card>