/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body{
     height: 100%;
     width: 100%;
     align-items: center;
     align-content: center;
     text-align: center;
     background:url(app/img/font2.jpg)
 }


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {

    border: 1px solid transparent;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    width: auto;
    margin: 0px auto;
    height: 100%;
}
.textTitle{
    color: rgb(255, 255, 255);
}

.content-form {
    width: max-content;
    margin: 0px auto;
    height: 50rem;
    background:url(app/img/font.png)
}
.center{
    align-items: center;
    align-content: center;
    text-align: center;
    
}


