/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body{
     height: 100%;
 }


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
    background-color: #fff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    width: 1000px;
    margin: 0px auto;
    height: 100%;
}

.content-form {
    width: 750px;
    margin: 0px auto;
    height: 100%;
}

