<mat-toolbar color="primary">
    <span>Covid-19 System</span>
    <span class="example-spacer"></span>
    <button  mat-button [matMenuTriggerFor]="menu" mat-raised-button color="primary">Menú Principal</button>
    
    <button  *ngIf="isLogged()" (click)="logout()" mat-raised-button color="primary">Logout</button>
    
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="!isLogged()" > <a routerLink="/login" routerLinkActive="active">login</a></button>
      <button mat-menu-item *ngIf="isMedical() && !isLogged() && isPatient() && isAdmin()"><a routerLink="/test" routerLinkActive="active">Test</a></button>
      <button mat-menu-item *ngIf="isLogged() && isMedical() && isPatient()" ><a routerLink="/medical" routerLinkActive="active">Medical</a></button> 
      <button mat-menu-item *ngIf="!isMedical() && isLogged() && isPatient()"><a routerLink="/tracing" routerLinkActive="active">Tracing</a></button> 
    </mat-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>

  