<mat-toolbar color="primary">
    <span>Covid-19 System</span>
    <button class="menu" mat-button [matMenuTriggerFor]="menu" mat-raised-button color="primary">Menú Principal</button>
    <button class="exit" *ngIf="isLogged()" (click)="logout()" mat-raised-button color="primary">Logout</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="!isLogged()"> <a routerLink="/login" routerLinkActive="active">login</a></button>
      <button mat-menu-item><a routerLink="/test" routerLinkActive="active">Test</a></button>
      <button mat-menu-item><a routerLink="/medical" routerLinkActive="active">Medical</a></button>
    </mat-menu>
  </mat-toolbar>
  <div class="content" position> 
    <router-outlet></router-outlet>
  </div>

  